<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" path="/" defaultUrl="Publik/Index.aspx" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <!--<location path="Admin" allowOverride="true">
    <system.web>
        <authorization>
            <allow roles="2" />
            <deny users="*"/>
        </authorization>
    </system.web>
</location>-->
  <location path="Publik" allowOverride="true">
    <system.web>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
</location>
  <connectionStrings>
    <add name ="cirkus" providerName="Npgsql" connectionString="Server=webblabb.miun.se;Port=5432;Database=pgmvaru_g1;User Id=pgmvaru_g1;Password=enhjuling;SSL=true" />
  </connectionStrings>
</configuration>