<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" path="/" defaultUrl="Publik/Index.aspx" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="Admin" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="2"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Publik" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="cirkus" providerName="Npgsql" connectionString="Server=webblabb.miun.se;Port=5432;Database=pgmvaru_g1;User Id=pgmvaru_g1;Password=enhjuling;SSL=true"/>
  </connectionStrings>
</configuration>