@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?famil=Oswald:400,700,300);


/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
	
html {
}	

body {
	margin: 0 auto;
	width: 1080px;
	height: auto;
	font-family:"Lucida Grande", sans-serif;
	padding: 30px;
 	background:center;
	border: thin solid #c7c7c7;
	box-shadow: -2px 5px 25px black; 
	border-radius: 5px;
	background:#F0F0F0;
	display:block;
    clear: both;
}

header {
	height: 60px;
	font-family:"Lucida Grande", sans-serif;
    font-size:20px;
    margin-bottom: 10px;
}
	
section {
    margin-left: 0 auto;
	font-family:"Lucida Grande", sans-serif;
	display:block;
    clear: both;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 35px;
    min-height: 200px;
}

#main {
    margin-left: 20px;
    min-height: 400px;
}
	
footer {
	padding-top:30px;
	height: 65px;
	font-size: 10px;
	text-align:center;
	background:#006699;
	color:#F0F0F0;
	margin: 0 auto;
   	display:block;
    clear: both;
   	box-shadow: -2px 5px 20px black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
	
p	{
	font-family:"Lucida Grande", sans-serif;
	font-size:16px;
}  
	
h2	 {
	font-family:"Lucida Grande", sans-serif;
}

table, td, th {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color:#5697d5;
    padding-left: 50px;
    padding-right:30px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
}

nav ul {
    width: 100%;
    margin-top: 5px;
    background: #5697d5;
    background: linear-gradient(top, #5697d5 0%);
    background: -moz-linear-gradient(top, #5697d5 0%);
    background: #5697d5;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0;
	border-radius: 10px; 
	list-style: none;
	position:relative;
	display: inline-table;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    /*text-transform: uppercase;*/
        box-shadow: -2px 5px 20px black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
	
nav ul:after {
		content: ""; 
        clear: both; 
        display: block;
}


nav ul li {
	float:left;
}
	
nav ul li:hover {
    background: #006699;
    background: linear-gradient(top, #006699 0%, #006699 40%);
    background: -moz-linear-gradient(top, #006699 0%, #006699 40%);
    background: -webkit-linear-gradient(top, #006699 0%, #006699 40%);
}
		
nav ul li:hover a {
    color:white;
}
	
	
nav ul li a {
		display: block; 
        padding: 20px;
		color: black; 
        text-decoration: none;
}

    
nav ul ul {
	display: none;
}

	
nav ul li:hover > ul {
		display: block;
}

    
nav ul ul {
    background: #006699;
    background: linear-gradient(top, #006699 0%, #006699 40%);
    background: -moz-linear-gradient(top, #006699 0%, #006699 40%);
    background: -webkit-linear-gradient(top, #006699 0%, #006699 40%);
    border-radius: 0px; 
    padding: 0;
	position: absolute; 
    top: 100%;
    width:inherit;
}

nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		
nav ul ul li a {
    padding: 15px 40px;
	color: black;
}	
			
nav ul ul li a:hover {
    background: #b6d4ea; 
    color: black;
}

            
nav ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0;
}

nav #selected a {
    background-color:white;
}
  
.footer	{
	font-size:10px;
	font-family:"Lucida Grande", sans-serif;
}

.menydesign	{
	font-family:"Lucida Grande", sans-serif;
	font-weight:bold;
	color:#000;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	margin: 10px;
	padding: 5px;
}

.menydesign:hover {
        font-family: "Lucida Grande", sans-serif;
        font-weight: bold;
        color: #006699;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        margin: 10px;
        padding: 5px;
}    

.thumblers {
    width: 100px;
    height: 100px;
    padding: 5px;
    float: left;
}

#header-logo {
    width: 220px;
    height: 120px;
    float: left;
}

#header-meny {
    width: 600px;
    height: 120px;
    float: left;
    margin: 15px;
    padding: 10px;
}

#divthumbs {
    float: left;
}

#imgCover {
    float: left;
}

#bigPhoto {
    width: 350px;
    float: left;
}
	
#test {
    float:left;
    margin-top:15px;
    margin-left:45px;
}

#fraga {
    float:left;
    display:block;
    width: 90%;
    height: 80px;
}

#svar {
    float: right;
    margin-right: 150px;
    padding-top: 45px;
    padding-right:5em;
    height: 250px;
    display:block;
    width: 65%;
}

#knappar {
    clear: both;
    margin-top: 15px;
    margin-left: 55px;
    padding: 15px;
    padding-bottom: 15px;
}

#bannerpic {
    width: 100%;
    height: 200px;
    clear: both;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: -2px 5px 20px black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/* denna delen av filen gäller admin form */
.admin {
    min-height: 400px;
    margin: 0;
    padding: 0; 
    width: 100%;
}

.admin-tabell {
    margin: 0;
    margin-top: 15px; 
    padding: 0; 
    width: 100%;
    font-family: "Lucida Grande", sans-serif;
    font-size: 10px;
    background-color: white;
}

.admin-tabell tr th {
    font-weight:bold; 
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px; 
    padding-bottom: 15px;
    color: black;
    font-family: "Lucida Grande", sans-serif;
    font-size: 9px;
    background-color: white;
}

.admin-tabell tr td {
    padding-left: 2px;
    padding-right: 2px; 
    color: black;    
    font-family: "Lucida Grande", sans-serif;
    font-size: 9px;
    background-color: white;
}

#LabelKategori {
    font-size: 10px; 
    font-style: italic;
}

#LabelInfo {
    font-size: 12px;
}

/* stilregler för frågenavigeringsmeny (licensiering) */
#QuestionNavbar {
    overflow: auto;
    margin-bottom: 2%;
}

#QuestionNavbar a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 21px;
    margin: 1px;
    padding: 0.48%;
    float: left;
}

#QuestionNavbar a:hover {
    background-color: #68AED1;
}

.qNavSelected {
    background-color: #3B6C84;
}

.qNavUnselected {
    background-color: #0073AD;
}

.qNavActive {
    background-color: #68AED1;
}
